In [5]:
import pandas as pd

In [6]:
file = 'name_input.xlsx'
xl = pd.ExcelFile(file)

In [8]:
df = xl.parse('sheet1')

In [9]:
df

                     fullname
0               MD SAMSUZZOHA
1                 MAHBUB AMIN
2                 MAHBUB AMIN
3            PURABI CHOWDHURY
4            PURABI CHOWDHURY
5          RAKESH PALASH SAHA
6          ABDULLAH AL MAHMUD
7          ABDULLAH AL MAHMUD
8          ABDULLAH AL MAHMUD
9        RUMANA PARVEEN ANNIE
10       RUMANA PARVEEN ANNIE
11       RUMANA PARVEEN ANNIE
12         KAZI NARGIS AFROJA
13         KAZI NARGIS AFROJA
14             KAMRUN SOBHANI
15             KAMRUN SOBHANI
16    MOHAMMED MIZANUR RAHMAN
17           KAISAR CHOWDHURY
18           KAISAR CHOWDHURY
19              IFTEKHAR AWAL
20       MD WAHIDUZZAMAN AKON
21       MD WAHIDUZZAMAN AKON
22                 ASMA ISLAM
23              MASUM AL SYED
24              MASUM AL SYED
25            MD NAZMUL KARIM
26            MD NAZMUL KARIM
27           SABRINA CHODHURY
28           SABRINA CHODHURY
29           AMATULLAH MAHMUD
..                        ...
33               FIROZA AKTER
34             TULI CHOWDHURY
35             TULI CHOWDHURY
36          AMITAVH CHOWDHURY
37             SAFAET HOSSAIN
38             SAFAET HOSSAIN
39  SUCHISMITA SAHA CHOWDHURY
40               ESHRAR OSMAN
41             ANINDITA DUTTA
42      SUBRATA BHATTACHARJEE
43         DULAL CHANDRA SAHA
44             MANAL MOHAMMED
45             MANAL MOHAMMED
46        Layla Anjuman Parul
47          Razia Khan Kumkum
48                 SIMA AHMED
49                SNIGDHA DEB
50                SNIGDHA DEB
51            MUNIR CHOWDHURY
52              SOHELI PARVIN
53              SOHELI PARVIN
54           MD ZAKIRUL HYDER
55           ZABEEN YUSUF NUR
56           MORSHEDUL MAHMUD
57               ASEMA SHAHLA
58                AHMED SALEM
59          DR ROSLIN BOTLERO
60     HIMANGSHU SHEKHAR BOSE
61           MD TARIQUL ISLAM
62           MD TARIQUL ISLAM

[63 rows x 1 columns]

In [10]:
new = df["fullname"].str.split(" ", n = 1, expand = True)

In [11]:
new

             0                  1
0           MD         SAMSUZZOHA
1       MAHBUB               AMIN
2       MAHBUB               AMIN
3       PURABI          CHOWDHURY
4       PURABI          CHOWDHURY
5       RAKESH        PALASH SAHA
6     ABDULLAH          AL MAHMUD
7     ABDULLAH          AL MAHMUD
8     ABDULLAH          AL MAHMUD
9       RUMANA      PARVEEN ANNIE
10      RUMANA      PARVEEN ANNIE
11      RUMANA      PARVEEN ANNIE
12        KAZI      NARGIS AFROJA
13        KAZI      NARGIS AFROJA
14      KAMRUN            SOBHANI
15      KAMRUN            SOBHANI
16    MOHAMMED     MIZANUR RAHMAN
17      KAISAR          CHOWDHURY
18      KAISAR          CHOWDHURY
19    IFTEKHAR               AWAL
20          MD  WAHIDUZZAMAN AKON
21          MD  WAHIDUZZAMAN AKON
22        ASMA              ISLAM
23       MASUM            AL SYED
24       MASUM            AL SYED
25          MD       NAZMUL KARIM
26          MD       NAZMUL KARIM
27     SABRINA           CHODHURY
28     SABRINA           CHODHURY
29   AMATULLAH             MAHMUD
..         ...                ...
33      FIROZA              AKTER
34        TULI          CHOWDHURY
35        TULI          CHOWDHURY
36     AMITAVH          CHOWDHURY
37      SAFAET            HOSSAIN
38      SAFAET            HOSSAIN
39  SUCHISMITA     SAHA CHOWDHURY
40      ESHRAR              OSMAN
41    ANINDITA              DUTTA
42     SUBRATA      BHATTACHARJEE
43       DULAL       CHANDRA SAHA
44       MANAL           MOHAMMED
45       MANAL           MOHAMMED
46       Layla      Anjuman Parul
47       Razia        Khan Kumkum
48        SIMA              AHMED
49     SNIGDHA                DEB
50     SNIGDHA                DEB
51       MUNIR          CHOWDHURY
52      SOHELI             PARVIN
53      SOHELI             PARVIN
54          MD      ZAKIRUL HYDER
55      ZABEEN          YUSUF NUR
56   MORSHEDUL             MAHMUD
57       ASEMA             SHAHLA
58       AHMED              SALEM
59          DR     ROSLIN BOTLERO
60   HIMANGSHU       SHEKHAR BOSE
61          MD      TARIQUL ISLAM
62          MD      TARIQUL ISLAM

[63 rows x 2 columns]

In [12]:
new.to_excel(r'name_split.xlsx', index = False, header=True)